
.storeTitle {
    font-family: 'Titillium Web', sans-serif;
}


#size {
    margin-top: 25px;
}

.box {
    background: #245F41 !important; 
}

.bikes {
    background: pink;
}


.icon {
    font-size: 30px;
}

